* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:after, *:before { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}

html {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  height: auto !important;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.clear {
  display: block; 
}
.clear::after {
  clear: both;
  content: ".";
  display: block;
  height: 1px;
  visibility: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #002233;
  font-style: Arial;
  color: #2C515E;
  height: 60em;
  width: 20em;
  margin: 0;
  padding: 0;
}

header img {
  margin: 4em;
  height: 12em;
  width: 12em;
  border-radius: 50%;
}


nav {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav a {
  margin: 0.5 em;
}

div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin: 1em 2em;
}

div a {
  display: flex;
  margin: 0.5em;
}

a:link {
  color: #2C515E;
  text-decoration: none;
}

a:hover {
  color: white;
}

a:visited {
    text-decoration: none;
    color: #2C515E;
}

body {
  background-color: white;
}

#social-facebook-dreamstale25 {
    width: 48px;
    height: 48px;
    background: url('spritesheet.png') -314px -106px;
}

#social-linkedin-dreamstale45 {
    width: 48px;
    height: 48px;
    background: url('spritesheet.png') -418px -210px;
}

#social-twitter-dreamstale71 {
    width: 48px;
    height: 48px;
    background: url('spritesheet.png') -366px -366px;
}

#social-github2-dreamstale35 {
    width: 48px;
    height: 48px;
    background: url('spritesheet.png') -366px -158px;
}